#  WeRateDogs Project

# Introduction 

In this project we are going to do data wrangling process. Data Wrangling is one of the most important process in data analysis. Data Warngling flow works like *Gather,Access* and *Clean*,  once it is done we get down to solving problem by analysis, moreover data wrangling is an iterative process we can get back the wrangling process even after we start analysing our data's through plots and graphs.

Through out this project we will go in a step by step process of **Data Wrangling**,
- Gather
- Access 
- Clean

# Gather 

In this Project we are going to use [WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs) for the data Wrangling Process.

- The WeRateDogs Twitter archive. We will download this file manually by clicking the following link: twitter_archive_enhanced.csv
- The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv
- Each tweet's retweet count and favorite (i.e. "like") count at minimum, and any additional data we will find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, we will query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then we will read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

In [1]:
! pip install --user tweepy

Requirement already satisfied: tweepy in /Users/eshank/.local/lib/python3.7/site-packages (3.8.0)
Requirement already satisfied: six>=1.10.0 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/eshank/.local/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: PySocks>=1.5.7 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests>=2.11.1 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from tweepy) (2.21.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/eshank/.local/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/eshank/anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.1)

In [2]:
# import required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tweepy
import json
import time
import requests
import re

In [3]:
# read the twitter archived file
df = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
# display data in the twitter archived file
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
# check number of rows & columns using the info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

It has <b> 2356 rows </b> & <b> 17 columns </b>

In [6]:
# import image-prediction.tsv file
image_prediction = pd.read_csv("image-predictions.tsv", delimiter='\t', encoding='utf-8')

In [7]:
#display data from image_prediction
image_prediction.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [8]:
# check number of rows & columns
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

It has <b> 2075 rows </b> & <b> 12 columns </b>

In [9]:
# twitter api

consumer_key = 'XXXX'
consumer_secret = 'XXXX'
access_token = 'XXXX'
access_secret = 'XXXX'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# API instance
api = tweepy.API(auth,
                parser = tweepy.parsers.JSONParser(), # parse the result to Json Object
                wait_on_rate_limit = True, # automatically wait for rate limits to replenish
                wait_on_rate_limit_notify = True) # print a notification when Tweepy is waiting for rate limits to replenish

In [10]:
# list where we store dictionaries of result
df_list = []
# list where we store the errors
errors_list = []

# calculate start time for execution
start_timing = time.time()

# get all the tweets in the tweets in archive dataframe
for tweet_id in df['tweet_id']:
    try:
        tweet_data = api.get_status(tweet_id, tweet_mode = 'extended')
        # to get names of attributes
        # print(json.dumps(tweet_data, indent = 4))
        # break
        
        favorite_count = tweet_data['favorite_count'] # count favorites the tweet had
        retweet_count = tweet_data['retweet_count'] # count of the retweet
        user_followers_count = tweet_data['user']['followers_count'] # count followers the user had
        user_favourites_count = tweet_data['user']['favourites_count'] # count favorites the user had
        date_time = tweet_data['created_at']
        
        df_list.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorite_count),
                        'retweets': int(retweet_count),
                        'user_followers': int(user_followers_count),
                        'user_favourites': int(user_favourites_count),
                        'date_time': pd.to_datetime(date_time)})
        
    # catch exceptions
    except Exception as e:
        print(str(tweet_id)+ " - " + str(e))
        errors_list.append(tweet_id)
        
# time of execution
end_timing = time.time()
total_time = end_timing - start_timing
print('Execution time:', total_time)

888202515573088257 - [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 - [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 - [{'code': 144, 'message': 'No status found with that ID.'}]
872261713294495745 - [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 - [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 - [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 - [{'code': 144, 'message': 'No status found with that ID.'}]
856602993587888130 - [{'code': 144, 'message': 'No status found with that ID.'}]
851953902622658560 - [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 - [{'code': 144, 'message': 'No status found with that ID.'}]
844704788403113984 - [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 - [{'code': 144, 'message': 'No status found with that ID.'}]
837366284874571778 - [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 - [{'code': 144, 'message': 'No status found with that ID.'}]
829374341691346946 - [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 - [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 - [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 - [{'code': 144, 'message': 'No status found with that ID.'}]
779123168116150273 - [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 - [{'code': 144, 'message': 'No status found with that ID.'}]
771004394259247104 - [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
770743923962707968 - [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 740

754011816964026368 - [{'code': 144, 'message': 'No status found with that ID.'}]
680055455951884288 - [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 744

676975532580409345 - Failed to send request: ('Connection aborted.', OSError("(54, 'ECONNRESET')"))
Execution time: 4537.796627044678

In [11]:
# length of result 
len(df_list)

2331

In [12]:
# lenght of errors
len(errors_list)

25

In [13]:
# perform same operation for errors_list
e_list = []
for e in errors_list:
    try:
        favorite_count = tweet_data['favorite_count'] # count favorites the tweet had
        retweet_count = tweet_data['retweet_count'] # count of the retweet
        user_followers_count = tweet_data['user']['followers_count'] # count followers the user had
        user_favourites_count = tweet_data['user']['favourites_count'] # count favorites the user had
        date_time = tweet_data['created_at']
        
        df_list.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorite_count),
                        'retweets': int(retweet_count),
                        'user_followers': int(user_followers_count),
                        'user_favourites': int(user_favourites_count),
                        'date_time': pd.to_datetime(date_time)})
        
    except Exception:
        print(str(tweet_id)+ " _ " + str(e))
        e_list.append(e)

In [14]:
len(df_list)

2356

Lenght of result after querying result is <b> 2356 </b>

In [15]:
# create dataframe for the result
df_final_tweets = pd.DataFrame(df_list, columns=['tweet_id', 'favorites', 'retweets', 'user_followers', 
                                                 'user_favourites', 'date_time'])

In [16]:
# data in df_final_tweets
df_final_tweets.head()

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
0,892420643555336193,37200,7969,8310259,142725,2017-08-01 16:23:56+00:00
1,892177421306343426,31996,5913,8310259,142725,2017-08-01 00:17:27+00:00
2,891815181378084864,24092,3909,8310259,142725,2017-07-31 00:18:03+00:00
3,891689557279858688,40514,8118,8310259,142725,2017-07-30 15:58:51+00:00
4,891327558926688256,38742,8801,8310259,142725,2017-07-29 16:00:24+00:00

In [17]:
# save the dataframe to a file
df_final_tweets.to_csv('final_tweets.csv', encoding='utf-8', index=False)

In [18]:
df_final_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id           2356 non-null int64
favorites          2356 non-null int64
retweets           2356 non-null int64
user_followers     2356 non-null int64
user_favourites    2356 non-null int64
date_time          2356 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(5)
memory usage: 110.5 KB

There are no missing values

<h2>Assess</h2>

In [19]:
df

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [21]:
df['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [22]:
df['rating_denominator'].value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [23]:
image_prediction

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [24]:
image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [25]:
image_prediction['jpg_url'].value_counts()

https://pbs.twimg.com/media/CvyVxQRWEAAdSZS.jpg                                            2
https://pbs.twimg.com/media/CsGnz64WYAEIDHJ.jpg                                            2
https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/807106774843039744/pu/img/8XZg1xW35Xp2J6JW.jpg    2
https://pbs.twimg.com/media/CtVAvX-WIAAcGTf.jpg                                            2
https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg                                            2
https://pbs.twimg.com/media/CxqsX-8XUAAEvjD.jpg                                            2
https://pbs.twimg.com/media/CW88XN4WsAAlo8r.jpg                                            2
https://pbs.twimg.com/media/CpmyNumW8AAAJGj.jpg                                            2
https://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg                                            2
https://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg                                            2
https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg                                            2
https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg                                            2
https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg                                            2
https://pbs.twimg.com/media/CsVO7ljW8AAckRD.jpg                                            2
https://pbs.twimg.com/media/CvJCabcWgAIoUxW.jpg                                            2
https://pbs.twimg.com/media/CVgdFjNWEAAxmbq.jpg                                            2
https://pbs.twimg.com/media/C3nygbBWQAAjwcW.jpg                                            2
https://pbs.twimg.com/media/CWyD2HGUYAQ1Xa7.jpg                                            2
https://pbs.twimg.com/media/CVuQ2LeUsAAIe3s.jpg                                            2
https://pbs.twimg.com/media/CtKHLuCWYAA2TTs.jpg                                            2
https://pbs.twimg.com/media/Cwx99rpW8AMk_Ie.jpg                                            2
https://pbs.twimg.com/media/CV_cnjHWUAADc-c.jpg                                            2
https://pbs.twimg.com/media/Cp6db4-XYAAMmqL.jpg                                            2
https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg                                            2
https://pbs.twimg.com/media/Cbs3DOAXIAAp3Bd.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/815965888126062592/pu/img/JleSw4wRhgKDWQj5.jpg    2
https://pbs.twimg.com/media/Crwxb5yWgAAX5P_.jpg                                            2
https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/817423809049493505/pu/img/5OFW0yueFu9oTUiQ.jpg    2
                                                                                          ..
https://pbs.twimg.com/media/CXICiB9UwAE1sKY.jpg                                            1
https://pbs.twimg.com/media/C378BwxWMAA6CNK.jpg                                            1
https://pbs.twimg.com/media/CXBdJxLUsAAWql2.jpg                                            1
https://pbs.twimg.com/media/CUsuijgXAAE4pdi.jpg                                            1
https://pbs.twimg.com/media/ClhGBCAWIAAFCsz.jpg                                            1
https://pbs.twimg.com/media/CVQnPMrVAAAzShR.jpg                                            1
https://pbs.twimg.com/media/Cb_r8qTUsAASgdF.jpg                                            1
https://pbs.twimg.com/media/Cq_Vy9KWcAIUIuv.jpg                                            1
https://pbs.twimg.com/media/Cvom3ZJXEAE29TD.jpg                                            1
https://pbs.twimg.com/media/ClGawiUWAAAgs0w.jpg                                            1
https://pbs.twimg.com/media/CUrW3DWXIAAiRqk.jpg                                            1
https://pbs.twimg.com/media/CrTsCPHWYAANdzC.jpg                                            1
https://pbs.twimg.com/media/CfovbK4WIAAkTn3.jpg                                            1
https://pbs.twimg.com/media/CcRKOzyXEAQO_HN.jpg                                            1
https://pbs.twimg.com/media/CjJ9gQ1WgAAXQtJ.jpg                                            1
https://pbs.twimg.com/media/CVb1mRiWcAADBsE.jpg                                            1
https://pbs.twimg.com/media/CY42CFWW8AACOwt.jpg                                            1
https://pbs.twimg.com/media/CWNOdIpWoAAWid2.jpg                                            1
https://pbs.twimg.com/media/CXBq6RPWkAAaNuU.jpg                                            1
https://pbs.twimg.com/media/CXB4nWnWEAAhLTX.jpg                                            1
https://pbs.twimg.com/media/CWE85snWIAEG5ES.jpg                                            1
https://pbs.twimg.com/media/CUxUSuaW4AAdQzv.jpg                                            1
https://pbs.twimg.com/media/DBkfY58XcAEdzZy.jpg                                            1
https://pbs.twimg.com/media/CbEOxQXW0AEIYBu.jpg                                            1
https://pbs.twimg.com/media/CVL6op1WEAAUFE7.jpg                                            1
https://pbs.twimg.com/media/CfxcKU6W8AE-wEx.jpg                                            1
https://pbs.twimg.com/media/CooZok_WEAA7oPw.jpg                                            1
https://pbs.twimg.com/media/CinrX2EWkAABDYt.jpg                                            1
https://pbs.twimg.com/media/CddvvSwWoAUObQw.jpg                                            1
https://pbs.twimg.com/media/CmU2DVWWgAArvp3.jpg                                            1
Name: jpg_url, Length: 2009, dtype: int64

In [26]:
image_prediction[image_prediction['jpg_url'] == 'https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg']

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1715,819004803107983360,https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg,1,standard_poodle,0.351308,True,toy_poodle,0.271929,True,Tibetan_terrier,0.094759,True
1718,819015337530290176,https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg,1,standard_poodle,0.351308,True,toy_poodle,0.271929,True,Tibetan_terrier,0.094759,True

In [27]:
df_final_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id           2356 non-null int64
favorites          2356 non-null int64
retweets           2356 non-null int64
user_followers     2356 non-null int64
user_favourites    2356 non-null int64
date_time          2356 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(5)
memory usage: 110.5 KB

<h2> Quality </h2>

<h3> df Dataset </h3>
<li> Several columns have NaN value </li>
<li> in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_id_user_id should be interger </li>
<li> retweeted_status_timestamp, timestamp should be datetime </li>
<li> name column has values like 'a', 'an', 'none' </li>
<li> retweeted_status_timestamp, timestamp should be datetime </li>

<h3>image_prediction dataset</h3>
<li> missing values (2075 rows instead of 2356) </li>
<li> some url values are repeated </li>

<h1> Tidiness </h1>

<li> various dog stages can be in single columns instead of seperate rows </li>
<li> extra information in image_prediction dataset (tweet_id, jpg_url data is sufficient) </li>
<li> all tables can be a part of single dataset </li>

<h1> Cleaning </h1>

In [28]:
# combine all datasets in one dataset
# combine df & image_prediction using merge function
df_master = pd.merge(df, image_prediction, how='left', on=['tweet_id'])

In [29]:
# combine df_master & df_final_tweets
df_master = pd.merge(df_master, df_final_tweets, how='left', on=['tweet_id'])

In [30]:
df_master.to_csv('df_master.csv', encoding='utf-8', index=False)

In [31]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2381 entries, 0 to 2380
Data columns (total 33 columns):
tweet_id                      2381 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2381 non-null object
source                        2381 non-null object
text                          2381 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2322 non-null object
rating_numerator              2381 non-null int64
rating_denominator            2381 non-null int64
name                          2381 non-null object
doggo                         2381 non-null object
floofer                       2381 non-null object
pupper                        2381 non-null object
puppo                         2381 non-null object
jpg_url                       2100 non-null object
img_num                       2100 non-null float64
p1                            2100 non-null object
p1_conf                       2100 non-null float64
p1_dog                        2100 non-null object
p2                            2100 non-null object
p2_conf                       2100 non-null float64
p2_dog                        2100 non-null object
p3                            2100 non-null object
p3_conf                       2100 non-null float64
p3_dog                        2100 non-null object
favorites                     2356 non-null float64
retweets                      2356 non-null float64
user_followers                2356 non-null float64
user_favourites               2356 non-null float64
date_time                     2356 non-null datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(12), int64(3), object(17)
memory usage: 632.5+ KB

In [32]:
df_master.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p2_conf,p2_dog,p3,p3_conf,p3_dog,favorites,retweets,user_followers,user_favourites,date_time
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,0.085851,False,banana,0.076110,False,37200.0,7969.0,8310259.0,142725.0,2017-08-01 16:23:56+00:00
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,0.090647,True,papillon,0.068957,True,31996.0,5913.0,8310259.0,142725.0,2017-08-01 00:17:27+00:00
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,0.078253,True,kelpie,0.031379,True,24092.0,3909.0,8310259.0,142725.0,2017-07-31 00:18:03+00:00
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,0.168086,True,spatula,0.040836,False,40514.0,8118.0,8310259.0,142725.0,2017-07-30 15:58:51+00:00
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,0.225770,True,German_short-haired_pointer,0.175219,True,38742.0,8801.0,8310259.0,142725.0,2017-07-29 16:00:24+00:00

In [33]:
# delete retweeted_status_id
df_master = df_master[pd.isnull(df_master.retweeted_status_id)]
# drop duplicates
df_master = df_master.drop_duplicates()
# Delete tweets with no pictures
df_master = df_master.dropna(subset = ['jpg_url'])

In [34]:
len(df_master)

1994

In [35]:
# delete columns we don't need
df_master = df_master.drop('retweeted_status_id', 1)
df_master = df_master.drop('retweeted_status_user_id', 1)
df_master = df_master.drop('retweeted_status_timestamp', 1)
df_master = df_master.drop('date_time', 1)

In [36]:
list(df_master)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites']

In [37]:
# combine 'doggo', 'floofer', 'pupper', 'puppo' columns using melt function
columns_to_melt = ['doggo', 'floofer', 'pupper', 'puppo']
columns_to_keep = [x for x in df_master.columns.tolist() if x not in columns_to_melt]

# melt the columns
df_master = pd.melt(df_master, id_vars=columns_to_keep, value_vars=columns_to_melt, 
                    var_name='stage', value_name='dog_stages')

In [38]:
df_master = df_master.drop('stage', 1)

In [39]:
# remove prediction columns

predictions = []
confidence = []

def prediction_confidence(df_master):
    if df_master['p1_dog'] == True:
        predictions.append(df_master['p1'])
        confidence.append(df_master['p1_conf'])
    elif df_master['p2_dog'] == True:
        predictions.append(df_master['p2'])
        confidence.append(df_master['p2_conf'])
    elif df_master['p3_dog'] == True:
        predictions.append(df_master['p3'])
        confidence.append(df_master['p3_conf'])
    else:
        predictions.append('NaN')
        confidence.append(0)

df_master.apply(prediction_confidence, axis=1)
df_master['predictions'] = predictions
df_master['confidence'] = confidence

# drop the other prediction columns
df_master = df_master.drop(['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], 1)

In [40]:
list(df_master)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'jpg_url',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'dog_stages',
 'predictions',
 'confidence']

In [41]:
# drop the columns 'in_reply_to_status_id', 'in_reply_to_status_id', 'user_favourites'
df_master = df_master.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'], 1)

In [42]:
df_master.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,favorites,retweets,user_followers,dog_stages,predictions,confidence
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,37200.0,7969.0,8310259.0,None,NaN,0.000000
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,31996.0,5913.0,8310259.0,None,Chihuahua,0.323581
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,24092.0,3909.0,8310259.0,None,Chihuahua,0.716012
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,40514.0,8118.0,8310259.0,None,Labrador_retriever,0.168086
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,38742.0,8801.0,8310259.0,None,basset,0.555712

In [43]:
# clean content of source
df_master['source'] = df_master['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

df_master

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,favorites,retweets,user_followers,dog_stages,predictions,confidence
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,37200.0,7969.0,8310259.0,None,NaN,0.000000
1,892177421306343426,2017-08-01 00:17:27 +0000,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,31996.0,5913.0,8310259.0,None,Chihuahua,0.323581
2,891815181378084864,2017-07-31 00:18:03 +0000,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,24092.0,3909.0,8310259.0,None,Chihuahua,0.716012
3,891689557279858688,2017-07-30 15:58:51 +0000,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,40514.0,8118.0,8310259.0,None,Labrador_retriever,0.168086
4,891327558926688256,2017-07-29 16:00:24 +0000,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,38742.0,8801.0,8310259.0,None,basset,0.555712
5,891087950875897856,2017-07-29 00:08:17 +0000,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,19473.0,2927.0,8310259.0,None,Chesapeake_Bay_retriever,0.425595
6,890971913173991426,2017-07-28 16:27:12 +0000,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,11363.0,1942.0,8310259.0,None,Appenzeller,0.341703
7,890729181411237888,2017-07-28 00:22:40 +0000,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,None,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,62756.0,17747.0,8310259.0,None,Pomeranian,0.566142
8,890609185150312448,2017-07-27 16:25:51 +0000,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,26789.0,4029.0,8310259.0,None,Irish_terrier,0.487574
9,890240255349198849,2017-07-26 15:59:51 +0000,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,30691.0,6933.0,8310259.0,doggo,Pembroke,0.511319
10,890006608113172480,2017-07-26 00:31:25 +0000,Twitter for iPhone,This is Koda. He is a South Australian decksha...,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,29523.0,6890.0,8310259.0,None,Samoyed,0.957979
11,889880896479866881,2017-07-25 16:11:53 +0000,Twitter for iPhone,This is Bruno. He is a service shark. Only get...,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,26774.0,4692.0,8310259.0,None,French_bulldog,0.377417
12,889665388333682689,2017-07-25 01:55:32 +0000,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,46220.0,9440.0,8310259.0,None,Pembroke,0.966327
13,889638837579907072,2017-07-25 00:10:02 +0000,Twitter for iPhone,This is Ted. He does his best. Sometimes that'...,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,26063.0,4235.0,8310259.0,None,French_bulldog,0.991650
14,889531135344209921,2017-07-24 17:02:04 +0000,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,14543.0,2121.0,8310259.0,None,golden_retriever,0.953442
15,889278841981685760,2017-07-24 00:19:32 +0000,Twitter for iPhone,This is Oliver. You're witnessing one of his m...,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,https://pbs.twimg.com/ext_tw_video_thumb/88927...,24268.0,5036.0,8310259.0,None,whippet,0.626152
16,888917238123831296,2017-07-23 00:22:39 +0000,Twitter for iPhone,This is Jim. He found a fren. Taught him how t...,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,28004.0,4232.0,8310259.0,None,golden_retriever,0.714719
17,888804989199671297,2017-07-22 16:56:37 +0000,Twitter for iPhone,This is Zeke. He has a new stick. Very proud o...,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,24600.0,4006.0,8310259.0,None,golden_retriever,0.469760
18,888554962724278272,2017-07-22 00:23:06 +0000,Twitter for iPhone,This is Ralphus. He's powering up. Attempting ...,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,19042.0,3314.0,8310259.0,None,Siberian_husky,0.700377
19,888078434458587136,2017-07-20 16:49:33 +0000,Twitter for iPhone,This is Gerald. He was just told he didn't get...,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,20924.0,3271.0,8310259.0,None,French_bulldog,0.995026
20,887705289381826560,2017-07-19 16:06:48 +0000,Twitter for iPhone,This is Jeffrey. He has a monopoly on the pool...,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,29042.0,5063.0,8310259.0,None,basset,0.821664
21,887517139158093824,2017-07-19 03:39:09 +0000,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14,10,such,https://pbs.twimg.com/ext_tw_video_thumb/88751...,44557.0,11030.0,8310259.0,None,NaN,0.000000
22,887473957103951883,2017-07-19 00:47:34 +0000,Twitter for iPhone,This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,66251.0,16961.0,8310259.0,None,Pembroke,0.809197
23,887343217045368832,2017-07-18 16:08:03 +0000,Twitter for iPhone,You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,13,10,None,https://pbs.twimg.com/ext_tw_video_thumb/88734...,32393.0,9828.0,8310259.0,None,Mexican_hairless,0.330741
24,887101392804085760,2017-07-18 00:07:08 +0000,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,12,10,None,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,29396.0,5610.0,8310259.0,None,Samoyed,0.733942
25,886983233522544640,2017-07-17 16:17:36 +0000,Twitter for iPhone,This is Maya. She's very shy. Rarely leaves he...,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,33736.0,7227.0,8310259.0,None,Chihuahua,0.793469
26,886736880519319552,2017-07-16 23:58:41 +0000,Twitter for iPhone,This is Mingus. He's a wonderful father to his...,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,11564.0,3050.0,8310259.0,None,kuvasz,0.309706
27,886680336477933568,2017-07-16 20:14:00 +0000,Twitter for iPhone,This is Derek. He's late for a dog meeting. 13...,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,21572.0,4193.0,8310259.0,None,NaN,0.000000
28,886366144734445568,2017-07-15 23:25:31 +0000,Twitter for iPhone,This is Roscoe. Another pupper fallen victim t...,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,20351.0,3000.0,8310259.0,None,French_bulldog,0.999201
29,886258384151887873,2017-07-15 16:17:19 +0000,Twitter for iPhone,This is Waffles. His doggles are pupside down....,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,https://pbs.twimg.com/media/DEyfTG4UMAE4aE9.jpg,26909.0,5938.0,8310259.0,None,pug,0.943575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7946,666411507551481857,2015-11-17 00:24:19 +0000,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2,10,quite,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,424.0,314.0,8310406.0,None,NaN,0.000000
7947,666407126856765440,2015-11-17 00:06:54 +0000,Twitter for iPhone,This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,7,10,a,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,102.0,36.0,8310406.0,None,black-and-tan_coonhound,0.529139
7948,666396247373291520,2015-11-16 23:23:41 +0000,Twitter for iPhone,Oh goodness. A super rare northeast Qdoba kang...,https://twitter.com/dog_rates/status/666396247...,9,10,None,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,161.0,80.0,8310407.0,None,Chihuahua,0.978108
7949,666373753744588802,2015-11-16 21:54:18 +0000,Twitter for iPhone,Those are sunglasses and a jean jacket. 11/10 ...,https://twitter.com/dog_rates/status/666373753...,11,10,None,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,178.0,86.0,8310407.0,None,soft-coated_wheaten_terrier,0.326467
7950,666362758909284353,2015-11-16 21:10:36 +0000,Twitter for iPhone,Unique dog here. Very small. Lives in containe...,https://twitter.com/dog_rates/status/666362758...,6,10,None,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,748.0,538.0,8310407.0,None,NaN,0.000000
7951,666353288456101888,2015-11-16 20:32:58 +0000,Twitter for iPhone,Here we have a mixed Asiago from the Galápagos...,https://twitter.com/dog_rates/status/666353288...,8,10,None,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,210.0,71.0,8310407.0,None,malamute,0.336874
7952,666345417576210432,2015-11-16 20:01:42 +0000,Twitter for iPhone,Look at this jokester thinking seat belt laws ...,https://twitter.com/dog_rates/status/666345417...,10,10,None,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,281.0,130.0,8310407.0,None,golden_retriever,0.858744
7953,666337882303524864,2015-11-16 19:31:45 +0000,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9,10,an,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,188.0,87.0,8310407.0,None,Newfoundland,0.278407
7954,666293911632134144,2015-11-16 16:37:02 +0000,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3,10,a,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,479.0,330.0,8310407.0,None,NaN,0.000000
7955,666287406224695296,2015-11-16 16:11:11 +0000,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,141.0,63.0,8310407.0,None,Maltese_dog,0.857531
7956,666273097616637952,2015-11-16 15:14:19 +0000,Twitter for iPhone,Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://twitter.com/dog_rates/status/666273097...,11,10,None,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,166.0,74.0,8310407.0,None,Italian_greyhound,0.176053
7957,666268910803644416,2015-11-16 14:57:41 +0000,Twitter for iPhone,Very concerned about fellow dog trapped in com...,https://twitter.com/dog_rates/status/666268910...,10,10,None,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,99.0,32.0,8310407.0,None,NaN,0.000000
7958,666104133288665088,2015-11-16 04:02:55 +0000,Twitter for iPhone,Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,1,10,None,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,13797.0,6180.0,8310407.0,None,NaN,0.000000
7959,666102155909144576,2015-11-16 03:55:04 +0000,Twitter for iPhone,Oh my. Here you are seeing an Adobe Setter giv...,https://twitter.com/dog_rates/status/666102155...,11,10,None,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,75.0,11.0,8310407.0,None,English_setter,0.298617
7960,666099513787052032,2015-11-16 03:44:34 +0000,Twitter for iPhone,Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,8,10,None,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,146.0,63.0,8310407.0,None,Lhasa,0.582330
7961,666094000022159362,2015-11-16 03:22:39 +0000,Twitter for iPhone,This appears to be a Mongolian Presbyterian mi...,https://twitter.com/dog_rates/status/666094000...,9,10,None,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,158.0,68.0,8310407.0,None,bloodhound,0.195217
7962,666082916733198337,2015-11-16 02:38:37 +0000,Twitter for iPhone,Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,6,10,None,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,108.0,42.0,8310407.0,None,pug,0.489814
7963,666073100786774016,2015-11-16 01:59:36 +0000,Twitter for iPhone,Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,10,10,None,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,309.0,150.0,8310407.0,None,Walker_hound,0.260857
7964,666071193221509120,2015-11-16 01:52:02 +0000,Twitter for iPhone,Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,9,10,None,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,139.0,55.0,8310407.0,None,Gordon_setter,0.503672
7965,666063827256086533,2015-11-16 01:22:45 +0000,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10,10,the,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,456.0,202.0,8310407.0,None,golden_retriever,0.775930
7966,666058600524156928,2015-11-16 01:01:59 +0000,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8,10,the,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,108.0,56.0,8310407.0,None,miniature_poodle,0.201493
7967,666057090499244032,2015-11-16 00:55:59 +0000,Twitter for iPhone,My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,9,10,a,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,279.0,131.0,8310407.0,None,golden_retriever,0.007959
7968,666055525042405380,2015-11-16 00:49:46 +0000,Twitter for iPhone,Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,10,10,a,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,419.0,226.0,8310407.0,None,chow,0.692517
7969,666051853826850816,2015-11-16 00:35:11 +0000,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2,10,an,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1169.0,805.0,8310407.0,None,NaN,0.000000
7970,666050758794694657,2015-11-16 00:30:50 +0000,Twitter for iPhone,This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,10,10,a,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,129.0,56.0,8310407.0,None,Bernese_mountain_dog,0.651137
7971,666049248165822465,2015-11-16 00:24:50 +0000,Twitter for iPhone,Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,102.0,41.0,8310407.0,None,miniature_pinscher,0.560311
7972,666044226329800704,2015-11-16 00:04:52 +0000,Twitter for iPhone,This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,282.0,135.0,8310407.0,None,Rhodesian_ridgeback,0.408143
7973,666033412701032449,2015-11-15 23:21:54 +0000,Twitter for iPhone,Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,121.0,43.0,8310407.0,None,German_shepherd,0.596461
7974,666029285002620928,2015-11-15 23:05:30 +0000,Twitter for iPhone,This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,124.0,45.0,8310407.0,None,redbone,0.506826
7975,666020888022790149,2015-11-15 22:32:08 +0000,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,2478.0,481.0,8310407.0,None,Welsh_springer_spaniel,0.465074

In [44]:
#convert column text values to lower case
df_master['text'] = df_master['text'].str.lower()

<h1> Determine Dog Gender </h1>

In [45]:
dog_gender = []

male = ['he', "he's", 'him', 'himself', 'his']
female = ['she', "she's", 'her', 'herself', "her's"]

# loop through the text to check if it contains the male and female pronoun
for text in df_master['text']:
    if any(map(lambda x: x in male, text.split())):
        dog_gender.append('male')
    elif any(map(lambda x: x in female, text.split())):
        dog_gender.append('female')
    else:
        dog_gender.append('NaN')

df_master['gender'] = dog_gender

In [46]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 16 columns):
tweet_id              7976 non-null int64
timestamp             7976 non-null object
source                7976 non-null object
text                  7976 non-null object
expanded_urls         7976 non-null object
rating_numerator      7976 non-null int64
rating_denominator    7976 non-null int64
name                  7976 non-null object
jpg_url               7976 non-null object
favorites             7944 non-null float64
retweets              7944 non-null float64
user_followers        7944 non-null float64
dog_stages            7976 non-null object
predictions           7976 non-null object
confidence            7976 non-null float64
gender                7976 non-null object
dtypes: float64(4), int64(3), object(9)
memory usage: 997.1+ KB

In [47]:
# convert all null value to none
df_master.loc[df_master['predictions'] == 'NaN', 'predictions'] = None
df_master.loc[df_master['dog_stages'] == 'NaN', 'dog_stages'] = None

<h1> Convert columns to appropriate field </h1>

In [48]:
df_master.dtypes

tweet_id                int64
timestamp              object
source                 object
text                   object
expanded_urls          object
rating_numerator        int64
rating_denominator      int64
name                   object
jpg_url                object
favorites             float64
retweets              float64
user_followers        float64
dog_stages             object
predictions            object
confidence            float64
gender                 object
dtype: object

In [49]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 16 columns):
tweet_id              7976 non-null int64
timestamp             7976 non-null object
source                7976 non-null object
text                  7976 non-null object
expanded_urls         7976 non-null object
rating_numerator      7976 non-null int64
rating_denominator    7976 non-null int64
name                  7976 non-null object
jpg_url               7976 non-null object
favorites             7944 non-null float64
retweets              7944 non-null float64
user_followers        7944 non-null float64
dog_stages            7976 non-null object
predictions           6744 non-null object
confidence            7976 non-null float64
gender                7976 non-null object
dtypes: float64(4), int64(3), object(9)
memory usage: 997.1+ KB

In [50]:
df_master.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,favorites,retweets,user_followers,dog_stages,predictions,confidence,gender
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,this is phineas. he's a mystical boy. only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,37200.0,7969.0,8310259.0,None,None,0.000000,male
1,892177421306343426,2017-08-01 00:17:27 +0000,Twitter for iPhone,this is tilly. she's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,31996.0,5913.0,8310259.0,None,Chihuahua,0.323581,female
2,891815181378084864,2017-07-31 00:18:03 +0000,Twitter for iPhone,this is archie. he is a rare norwegian pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,24092.0,3909.0,8310259.0,None,Chihuahua,0.716012,male
3,891689557279858688,2017-07-30 15:58:51 +0000,Twitter for iPhone,this is darla. she commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,40514.0,8118.0,8310259.0,None,Labrador_retriever,0.168086,female
4,891327558926688256,2017-07-29 16:00:24 +0000,Twitter for iPhone,this is franklin. he would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,38742.0,8801.0,8310259.0,None,basset,0.555712,male

In [51]:
df_master['tweet_id'] = df_master['tweet_id'].astype(object)
df_master['timestamp'] = pd.to_datetime(df_master.timestamp)
df_master['source'] = df_master['source'].astype('category')
#df_master['favorites'] = df_master['favorites'].astype(int)
#df_master['retweets'] = df_master['retweets'].astype(int)
#df_master['user_followers'] = df_master['user_followers'].astype(int)
df_master['dog_stages'] = df_master['dog_stages'].astype('category')
df_master['gender'] = df_master['gender'].astype('category')

<h1> Storing, Analyzing & Visualizing Data </h1>

In [52]:
# store data to csv format
df_master.to_csv('twitter_archive_master.csv', encoding='utf-8', index=False)

In [53]:
df_master = pd.read_csv('twitter_archive_master.csv')